# Hardframe Logging
*.hflog

# Libraries
*.a

# Build Stuffs
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile

# Hardframe Resources (if installed)
hardframe_resources/

# Annoying
.DS_Store