# Hardframe Logging
*.hflog

# Build Stuffs
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile

# Hardframe Resources (if installed)
hardframe_resources/

# Local Resource Folder
files/

# Annoying
.DS_Store